<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>Sistema de Condomínios</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container-fluid">   
	    	<div class="shadow p-3 mb-5 bg-white rounded">
	    	
	    		<div class="container-fluid">   
	    			<div class="shadow p-3 mb-5 bg-white rounded">
	    				<h1 class="text-center">SISTEMA DE CONDOMÍNIO</h1>
	    			</div>	    			
    			</div>
    			
    			<div class="container-fluid">   
	    			<div class="shadow p-3 mb-5 bg-white rounded">
	    				<div class="container-fluid">
							<div class="row">
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">Funcionários</a>
									  	</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
							</div>
							<p><p>
							<div class="row">
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card" style="width: 18rem;">
									  	<img class="card-img-top" src=".../static/images/user.png" alt="">
									  	<div class="card-body mx-auto">
										    <a href="#" class="btn btn-primary btn-lg">botão</a>
									  	</div>
									</div>
								</div>
							</div>
						</div>
	    			</div>	    			
    			</div>
	      	
	      	</div>
		</div>
	</body>
</html>